<!doctype html>
<html>
	<head>
		<title>take the plunge</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
        
        <script src="/bower_components/jquery/dist/jquery.min.js"></script>
        <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
        
        <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css" />
	</head>
	<body>
        <div class="container">
            {{! Every view gets inserted here }}
            {{{body}}}
        </div>
	</body>
</html>