<script src="/js/PLUNGE-CLIENT.js"></script>

<div class="form-group">
    <label for="media">Select Scene:</label>
    <select class="form-control" id="media">
        <option disabled selected>Select Video</option>
        {{#each media}}
        <option value="{{{filename this}}}">{{this}}</option>
        {{/each}}
    </select>
</div>
    
<div style="margin:10px 0px;" class="row">
    <div align="center" class="embed-responsive embed-responsive-16by9">
        <video id="mediaplayer" controls class="embed-responsive-item video-bg">
            <source src="" type="video/mp4">
        </video>
    </div>
</div>

<script>
    $( document ).ready(function() {
        $('#media').on('change', function() {
            loadvideotag(this.value);
        });
        
        PLUNGE.init($('#mediaplayer').get(0));
    });
    var loadvideotag = function(filename) {
        var player = $('#mediaplayer');
        player.attr('src', 'http://{{host}}/media/' + filename);
        $('#mediaplayer')[0].load();
    }
</script>